@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  background-color: #00020A;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: 'Titillium Web', sans-serif;
}